.star {
    font-size: 35px;
    cursor: pointer;
  }
   
  .one {
    color: rgb(251, 255, 12);
  }
   
  .two {
    color: rgb(251, 255, 12);
  }
   
  .three {
    color: rgb(251, 255, 120);
  }
   
  .four {
    color: rgb(255, 255, 0);
  }
   
  .five {
    color: rgb(251, 255, 12);
  }


    

    
   